.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.lista-filmes{
    margin: 15px;
}

.lista-filmes article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d1d1d1;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
}

.lista-filmes strong{
    padding-bottom: 15px;
    font-size: 20px;
}
.lista-filmes img{
    width: 700px;
    max-height: 350px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.lista-filmes article a{
    text-decoration: none;
    color: #fff;
    background-color: brown;
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}