.not-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found h1{
    font-size: 100px;
}

.not-found h3{
    margin-top: -50px;
    font-size: 30px;
}

.not-found a{
    text-decoration: none;
    color: #fff;
    background-color: brown;
    padding: 10px;
    border-radius: 5px ;
}